# Config to control overrides for connections
# To create new rule:
# Create rule title:
# [IP_(somename)]
# Set path variable for override
# path = [path to program to override]

# Example:
# [IP_chrome] 
# path = c:\programfiles\google\chrome


[IP_asyncRAT]
path = c:\users\myacc\downloads\asyncremoteadmin\stub\stub

# Testing only, will make any process requesting computer resources to show one of the random connections
# REMOVE BEFORE STUDY
[IP_overwriteTest]
path = C:\Windows\System32\wbem\WmiPrvSE.exe
